<h1>nEW dOCTOR</h1>

<p><a asp-controller="Doctores" asp-action="Index">back index</a></p>


<form method="post">

    <label>Id Doctor</label>
    <input type="number" class="form-control" name="iddoctor" />

    <label>Apellido</label>
    <input type="text" class="form-control" name="apellido" />

    <label>Especialidad</label>
    <input type="text" class="form-control" name="especialidad" />

    <label>Salario</label>
    <input type="number" class="form-control" name="salario" />
    
    <label>Id Hospital</label>
    <input type="number" class="form-control" name="idhospital" />

    <button class="btn btn-info">Create Doctor</button>

</form>